body {
    background: #1F1F1F;
    color: #fff;
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
}

.editor {
    --c-fg: #cccccc;
    --c-var: #9CDCFE;
    --c-func: #C586C0;
    --c-opt: #569CD6;
    --c-val: #B5CEA8;
    --rt-color: #666666;
    --rt-border: 1px;
    --rt-width: max(calc(0.5em - var(--rt-border) - 4px), 2px);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    position: relative;
    border: 1px solid transparent;
}

.editor:focus {
    outline: 3px solid #0088ff66;
    border-color: #0088ffbb;
}

.ed-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 10;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.ed-overlay > .i-cursor {
    --duration: 120ms;
    transition:
        left var(--duration),
        top var(--duration),
        width var(--duration),
        height var(--duration);
    display: none;
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--w);
    height: var(--h);
    outline: solid 2px #0088ff;
}

.ed-overlay > .i-cursor.f-show {
    display: block;
}

.n {
    display: flex;
}

/* .t-elem:not(:has(.t-elem:hover)):hover {
    background: #0088ff44;
    position: relative;
    z-index: 1;
} */

.t-elem.f-active > .f-primary {
    background: #0057a3;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.t-elem.f-select {
    background: #1d4063 !important;
}

.t-atom {
    padding: 0 0.25em;
}

.t-layout.s-box.f-dir-vertical {
    flex-direction: column;
    align-items: start;
}

.t-layout.s-bracket::before, .t-layout.s-bracket::after {
    content: " ";
    margin: 4px 2px;
    width: var(--rt-width);
    border: var(--rt-border) solid var(--rt-color);
}

.t-layout.s-bracket::before { border-right: 0 none }
.t-layout.s-bracket::after { border-left: 0 none }

.t-atom.s-label {
    align-self: start;
    color: var(--color, --c-fg);
}

/* expand horizontal */

.editor {
    align-items: stretch;
}

.t-layout.s-box, .t-layout.s-bracket {
    flex-grow: 1;
}

.t-layout.s-box.f-dir-vertical {
    align-items: stretch;
}

.t-layout.s-bracket:has(.t-layout.s-box.f-dir-vertical:last-child)::after {
    content: none;
}