@import "core/style.css";

@import "res/jetbrains-mono/font.css";

html, body {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

body {
    color: #ccc;
    /* font-family: "Source Code Pro", monospace; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* --border-radius: 0; */
    --border-radius: 2px;
}

.editor {
    --c-fg: #cccccc;
    --c-var: #9CDCFE;
    --c-func: #C586C0;
    --c-opt: #569CD6;
    --c-val: #B5CEA8;
    --rt-color: #666666;
    --rt-border: 2px;
    --rt-width: max(calc(0.5em - var(--rt-border) - 4px), 2px);
    --rt-padding: 8px;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: var(--rt-padding);
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    position: relative;
    min-width: max-content; min-height: max-content;
    border: none;
    outline: none;
}

.ed-inner {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

.ed-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 10;
}

@keyframes cursor-blink {
    0% {
        outline-color: #0088ff;
    }
    100% {
        outline-color: #003869;
    }
}

.ed-overlay > .i-cursor {
    display: none;
    position: absolute;
    left: var(--cursor-x);
    top: var(--cursor-y);
    width: var(--cursor-w);
    height: var(--cursor-h);
    outline: solid 2px #888888;
    border-radius: var(--border-radius);
    opacity: 0.4;
}

.ed-overlay > .i-scrollbox {
    --margin: var(--rt-padding);
    position: absolute;
    pointer-events: none;
    left: calc(var(--cursor-x) - var(--margin));
    top: calc(var(--cursor-y) - var(--margin));
    width: calc(var(--cursor-w) + var(--margin) * 2);
    height: calc(var(--cursor-h) + var(--margin) * 2);
}

.editor:focus .ed-overlay > .i-cursor {
    opacity: 1;
    animation: .6s cubic-bezier(.65,.05,.36,1) 0s infinite alternate cursor-blink;
}

.ed-overlay > .i-cursor.f-show {
    display: block;
}

.n {
    display: flex;
}

.t-elem.f-active > .f-primary {
    background: #3A3D41;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.editor:focus .t-elem.f-active > .f-primary {
    background: #0057a3;
}

.t-elem.f-select {
    background: #3A3D41 !important;
}

.editor:focus .t-elem.f-select {
    background: #1d4063 !important;
}

/* Hide Right Bracket */

/* .t-layout.s-bracket:has(.t-layout.s-box.f-dir-vertical:last-child)::after {
    content: none;
} */

/* Center View */

/* body {
    justify-content: center;
}

.editor {
    align-self: center;
    justify-content: center;
    align-items: center;
}*/

/* Shrink Elem */

/* .editor.f-shrink .ed-inner{
    align-items: start;
}

.editor.f-shrink .t-layout.s-box, .editor.f-shrink .t-layout.s-bracket {
    flex-grow: 0;
}

.editor.f-shrink .t-layout.s-box.f-dir-vertical {
    align-items: start;
} */

/* Scroll Bar */

* {
    scrollbar-width: thin;
    scrollbar-color: #88888844 transparent;
}

/* Zoom Styles */

.t-zoom-root[zoom="0"] > * { display: none; }
.t-zoom-root[zoom="0"] > .i-zoom-hint { display: var(--display); }
.t-zoom-root[zoom="1"] .l-level > * { display: none; }
.t-zoom-root[zoom="1"] .l-level > .i-zoom-hint { display: var(--display); }
.t-zoom-root[zoom="2"] .l-level .l-level > * { display: none; }
.t-zoom-root[zoom="2"] .l-level .l-level > .i-zoom-hint { display: var(--display); }
.t-zoom-root[zoom="3"] .l-level .l-level .l-level > * { display: none; }
.t-zoom-root[zoom="3"] .l-level .l-level .l-level > .i-zoom-hint { display: var(--display); }
.t-zoom-root[zoom="4"] .l-level .l-level .l-level .l-level > * { display: none; }
.t-zoom-root[zoom="4"] .l-level .l-level .l-level .l-level > .i-zoom-hint { display: var(--display); }

/* .t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="1"] > * { display: var(--display); }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="2"] > * { display: var(--display); }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="3"] > * { display: var(--display); }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="4"] > * { display: var(--display); }

.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="2"] .l-level > * { display: var(--display); }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="3"] .l-level > * { display: var(--display); }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="4"] .l-level > * { display: var(--display); }

.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="3"] .l-level .l-level > * { display: var(--display); }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="4"] .l-level .l-level > * { display: var(--display); }

.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="4"] .l-level .l-level .l-level > * { display: var(--display); }

.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="1"] > .i-zoom-hint { display: none; }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="2"] > .i-zoom-hint { display: none; }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="3"] > .i-zoom-hint { display: none; }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="4"] > .i-zoom-hint { display: none; }

.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="2"] .l-level > .i-zoom-hint { display: none; }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="3"] .l-level > .i-zoom-hint { display: none; }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="4"] .l-level > .i-zoom-hint { display: none; }

.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="3"] .l-level .l-level > .i-zoom-hint { display: none; }
.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="4"] .l-level .l-level > .i-zoom-hint { display: none; }

.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root.t-zoom-root[zoom="4"] .l-level .l-level .l-level > .i-zoom-hint { display: none; } */