.core-caret-root {
    position: relative;
    width: 0; height: 0;
    margin: 0; padding: 0;
    pointer-events: none;
    z-index: 1;
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
        /* outline-color: oklch(calc(var(--c-l-base) + var(--c-l-dir) * 40%) 0.36 240); */
    }
    100% {
        opacity: 0;
        /* outline-color: oklch(calc(var(--c-l-base) + var(--c-l-dir) * 40%) 0.36 240 / 0); */
    }
}

.core-caret-container {
    position: absolute;
    left: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);
    width: calc(var(--w) * 1px);
    height: calc(var(--h) * 1px);
    outline: none;
}

.core-caret-container.f-show_box {
    --c-b: oklch(calc(var(--c-l-base) + var(--c-l-dir) * 20%) 0.16 240);
    outline: solid 2px var(--c-b);
    /* box-shadow: 0 0 0 4px oklch(calc(var(--c-l-base) + var(--c-l-dir) * 40%) 0.25 240 / 20%); */
    border-radius: var(--border-radius);
}

.core-caret-container:focus {
    outline-color: oklch(calc(var(--c-l-base) + var(--c-l-dir) * 40%) 0.36 240);
    animation: .6s cubic-bezier(.65,.05,.36,1) .3s infinite alternate cursor-blink;
}