.core-frame > span {
    flex-grow: 1;
    outline: none;
}

.core-frame > span::before {
    content: "\200B";
}

.core-frame > span::selection {
    --c-bg: oklch(calc(var(--c-l-base) + var(--c-l-dir) * 40%) 0.32 240 / 40%);
    background: var(--fc-fg);
    color: var(--c-b);
}

.tt-editor.f-selecting .core-frame > span:not(:hover)::selection,
.tt-editor:not(.f-selecting) .core-frame > span:not(:focus)::selection {
    background: transparent;
    color: var(--fc-fg);
}

.core-frame::before {
    content: attr(data-prefix);
}

.core-frame::after {
    content: attr(data-suffix);
}