.core-array-root {
    display: flex;
    align-self: stretch;
    justify-self: stretch;
    min-height: 1.2em;
}

.core-array-root > .i-inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: start;
}

.core-array-root::before {
    content: " ";
    margin: 4px 2px;
    width: var(--rt-width);
    border: var(--rt-border) solid var(--rt-color);
    border-right: 0 none;
}