.core-array-root {
    display: flex;
    align-self: stretch;
    justify-self: stretch;
    min-height: 1.1em;
}

.core-array-root > .i-zoom-hint {
    display: none;
    --display: block;
    background: #244b5d;
    border-radius: var(--border-radius);
    color: #2bbcff;
}

.core-array-root > .i-zoom-hint::after {
    content: "···";
}

.core-array-root.f-inline {
    align-self: start;
    justify-self: start;
}

.core-array-root > .i-inner {
    --display: flex;
    flex-grow: 1;
    display: var(--display);
    flex-direction: column;
    gap: 2px;
    align-items: start;
}

.core-array-root.f-inline > .i-inner {
    flex-direction: row;
}

.core-array-root::before, .core-array-root.f-inline::after {
    --rt-color: #2bbcff;
    content: " ";
    margin: 4px 2px;
    width: var(--rt-width);
    background: #244b5d;
    border: var(--rt-border) solid var(--rt-color);
}

.core-array-root::before {
    border-right: 0 none;
}

.core-array-root.f-inline::after {
    border-left: 0 none;
}