.core-boolean-root {
    background: #539AD622;
    color: #539AD6;
    padding: 0 0.25em;
    border-radius: var(--border-radius);
}

.core-boolean-root::after {
    content: "False";
}

.core-boolean-root.f-toggle::after {
    content: "True";
}