.core-dict-root {
    display: flex;
    /* align-self: stretch; */
    /* justify-self: stretch; */
    min-height: 1.1em;
}

.core-dict-root > .i-zoom-hint {
    display: none;
    --display: block;
    background: #3F361F;
    border-radius: var(--border-radius);
    color: #cebd96;
}

.core-dict-root > .i-zoom-hint::after {
    content: "···";
}

.core-dict-inner {
    --display: grid;
    flex-grow: 1;
    display: var(--display);
    grid-template-columns: minmax(2em, auto) 1fr;
    gap: 2px;
    justify-items: start;
    align-items: start;
}

.core-dict-inner > .i-key-box {
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background: #3F361F;
    border-radius: var(--border-radius);
}

.core-dict-inner > .i-key-box > .i-key {
    display: flex;
    position: sticky;
    top: 2px;
}

.core-dict-inner > .i-key-box > .i-key > .i-text {
    padding: 0 0.25em;
    color: #cebd96;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12em;
}

.core-dict-inner > .i-key-box > .i-key::after {
    --rt-color: #FFB710;
    content: "→";
    margin-left: auto;
    width: 1.2em;
    text-align: center;
    color: var(--rt-color);
    flex-shrink: 0;
}

.core-dict-root::before {
    --rt-color: #FFB710;
    position: sticky;
    top: 2px;
    --border-radius: calc(var(--rt-width) * 2);
    content: " ";
    margin: 4px 2px;
    width: var(--rt-width);
    background: var(--rt-color);
    border: var(--rt-border) solid var(--rt-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-right: 0 none
}