.core-string-root {
    background: #CE835022;
    color: #CE8350;
    padding: 0 0.25em;
    margin: 0;
    border-radius: var(--border-radius);
}

.core-string-root::before, .core-string-root::after {
    content: "\"";
}