.ext-type-selector-root {
    --border: 2px;
    position: absolute;
    transform: translate3d(var(--cursor-x), calc(var(--cursor-y) + var(--cursor-h) + var(--border) + 2px), 0);
    pointer-events: all;
    display: none;
    flex-direction: column;
    min-width: 6em;
}

.ext-type-selector-root.f-show {
    display: flex;
}

.ext-type-selector-root > .i-input {
    padding: 0 0.25em;
    border: none;
    outline: none;
    color: #cccccc;
    background: #222222;
    cursor: text;
    caret-color: #44ccff;
    outline: #0088ff solid var(--border);
    border-radius: var(--border-radius);
}

.ext-type-selector-root > .i-input::selection,
.ext-type-selector-root > .i-input *::selection {
    background: #0066dd;
}

.ext-type-selector-root > .i-list {
    display: flex;
    flex-direction: column;
    padding: 0 var(--border-radius);
    margin-top: var(--border);
}

.ext-type-selector-entry {
    --n-border-radius: calc(var(--border-radius) * 2);
    display: flex;
    padding: 2px 0.25em;
    background: #17446c;
    border-left: #0066dd solid 2px;
    border-right: #0066dd solid 2px;
}

.ext-type-selector-entry:hover {
    background: #0066dd;
}

.ext-type-selector-entry:last-child {
    border-bottom: #0066dd solid 2px;
    border-radius: 0 0 var(--n-border-radius) var(--n-border-radius);
}

.ext-type-selector-entry > .i-name {
    flex-grow: 1;
    font-size: 0.8em;
    color: #ffffffdd;
}

.ext-type-selector-entry > .i-info {
    margin-left: 0.5em;
    font-style: italic;
    color: #ffffff88;
    font-size: 0.8em;
}

.ext-type-selector-entry.f-active {
    background: #0066dd;
}